.grid {
    /* width: 500px;
    height: 500px; */
    border: black solid 1px;
    display: flex;
    flex-wrap: wrap;
    margin:auto;
}

.grid div {
    /* width: 25px;
    height: 25px; */
    border: white solid 3px;
    border-collapse: collapse;
    box-sizing: border-box;
   
}



.square.player {
    background-image: url('Pics/PLAYER_ICON.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

.bullet {
    background-image: url('Pics/PLAYER_PROJECTILE.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

.enemy {
    background-image: url('Pics/ENEMY6.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px 30px;
    
}