
body {
    background-color: black;
}

h1 {
    font-size: 60px;
    text-align: center;
}

*{
    color:lime;
}


#game {
    margin:auto;
    width:80%;
}

#score, #level, #lives {
    width:50%;
    font-size: 2rem;
}

#lives{
    text-align: center;
}

#level {
    text-align: end;
}

.grid {
    border: lime solid 1px;
    display: flex;
    flex-wrap: wrap;
    margin:auto;
    background-color: black;
    
}

.grid div {
    border: black solid 3px;
    border-collapse: collapse;
    box-sizing: border-box;

}



.square.player {
    background-image: url('Pics/PLAYER_ICON_2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px 30px;
}

.bullet {
    background-image: url('Pics/PLAYER_PROJECTILE_2.png');
    background-repeat: no-repeat;
    background-position: center;
}

.enemy_bullet {
    background-image: url('Pics/ENEMY_PROJECTILE_2.png');
    background-repeat: no-repeat;
    background-position: center;
}


.enemy{
    background-repeat: no-repeat;
    background-position: center;

}

.enemy.enemy_bullet{
    background-color: yellow;
}

.enemy.type1{
    background-image: url('Pics/ENEMY2_2.png');
}


.enemy.type2{
    background-image: url('Pics/ENEMY4_4.png');
}

.enemy.type3{
    background-image: url('Pics/ENEMY5_5.png');
}


#game-header{
    display:flex;
    justify-content: space-between;
}

.boss {
    background-image: url('Pics/ENEMY_BOSS_2.png');
    background-repeat: no-repeat;
    background-position: center;
}