.grid {
    /* width: 500px;
    height: 500px; */
    border: black solid 1px;
    display: flex;
    flex-wrap: wrap;
    margin:auto;
}

.grid div {
    /* width: 25px;
    height: 25px; */
    border: black solid 1px;
    border-collapse: collapse;
    box-sizing: border-box;
}